@import "tailwindcss";

@theme {
  --font-jersey: "Jersey 10", sans-serif;
}

:root {
  --background: #b5c7eb;
  --foreground: #1f2937;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

.jersey-10-regular {
  font-family: var(--font-jersey);
}

/* Custom scrollbar for pixel art feel */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #f1f1f1;
}
