@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #B5C7EB;
  color: #1f2937;
  font-family: sans-serif;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

